.header{
    top: 0;
    position: absolute;
    background-color: yellow;
    width: 100vw;
    left: 0;
    display: grid;
    height: 50px;
    align-items: center;
    grid-auto-flow: column;
}

.items {
    display: grid;
    grid-auto-flow: column;
    
}

.item{
    font-size: 1.2rem;
    
}